{% extends 'AppBundle:admin:base_admin.html.twig' %}
{% block panel %}
    <div class="wrapper">
        <div id="page-wrapper">
            <h1>Район {{ district.title }}</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Идентификатор</th>
                    <th>Название</th>
                    <th>Псевдоним</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ district.id }}</td>
                        <td>{{ district.title }}</td>
                        <td>{{ district.slug }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="section">
                <a href="{{ path('admin_district_edit', { 'slug': district.slug }) }}" class="btn btn-sm btn-default">
                    <i class="fa fa-edit"></i> Редактировать </a>
                {{ include('@App/admin/district/_form.html.twig', {
                    form: delete_form,
                    button_label: 'Удалить',
                    button_css: 'btn btn-primary btn-danger',
                    show_confirmation: true,
                }, with_context = false) }}
            </div>
        </div>
    </div>
{% endblock panel %}
