{% extends 'AppBundle:admin:base_admin.html.twig' %}
{% block panel %}
            <h1>District {{ district.title }}</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Slug</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ district.id }}</td>
                        <td>{{ district.title }}</td>
                        <td>{{ district.slug }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="section">
                <a href="{{ path('admin_district_edit', { 'slug': district.slug }) }}" class="btn btn-primary btn-success">
                    <i class="fa fa-edit"></i> Edit </a> <br> <br>
                {{ include('@App/admin/district/_form.html.twig', {
                    form: delete_form,
                    button_label: 'Delete',
                    button_css: 'btn btn-primary btn-danger',
                    show_confirmation: true,
                }, with_context = false) }}
            </div>
{% endblock panel %}
