{% extends 'base.html.twig' %}

{% block nav %}
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('admin_index') }}">Панель администрирования</a>
        </div>

        <ul class="nav navbar-top-links navbar-right" style="background-color: #eeeeee">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-user fa-fw"></i> Профайл пользователя</a>
                    </li>
                    <li><a href="{{ path('homepage') }}"><i class="fa fa-gear fa-fw"></i> Перейти на сайт</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="{{ path('logout') }}"><i class="fa fa-sign-out fa-fw"></i> Выйти(из учетной записи)</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
{% endblock nav %}

{% block body %}
    {% block sidebar %}
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="{{ path('admin_estates') }}"><i class="fa fa-edit fa-fw"></i> Объекты</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_districts') }}"><i class="fa fa-edit fa-fw"></i> Районы</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_users') }}"><i class="fa fa-edit fa-fw"></i> Пользователи</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_categories') }}"><i class="fa fa-edit fa-fw"></i> Категории</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_comments') }}"><i class="fa fa-edit fa-fw"></i> Комментарии
                            <span class="badge">{{ render(controller('AppBundle:Admin/AdminComment:countDisablesComments')) }}
                            </span></a>
                    </li>
                </ul>
            </div>
        </div>
    {% endblock sidebar %}

    <div class="wrapper">
        <div id="page-wrapper">
            {% block panel %}
            {% endblock %}
        </div>
    </div>

{% endblock body %}
