{% extends 'AppBundle:site:base_site.html.twig' %}
    {% block header %}
        <header class="masthead">
            <div class="container">
                <div class="row">
                    <div class="col col-sm-6">
                        <h1><a href="#" title="scroll down for your viewing pleasure">BNW Template</a>

                            <p class="lead">2-column Layout + Theme for Bootstrap 3</p></h1>
                    </div>
                    <div class="col col-sm-6">
                        <div class="well pull-right">
                            <img src="//placehold.it/280x100/E7E7E7">
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col col-sm-12">

                        <div class="panel">
                            <div class="panel-body">

                                <!-- temporary form -->
                                <form class="form-inline" role="form">
                                    <div class="form-group">
                                        <label for="email">Type of estate</label>
                                        <input type="text" class="form-control" id="email" placeholder="Choose type">
                                    </div>
                                    <div class="form-group">
                                        <label for="pwd">Count of room:</label>
                                        <input type="text" class="form-control" id="pwd" placeholder="Enter number">
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox"> Exclusive</label>
                                    </div>
                                    <button type="submit" class="btn btn-default">Search</button>
                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </header>
    {% endblock header %}
    {% block panel %}
        <div class="panel">
            {{ 'article.tags'|trans }}
            {% for estate in estates %}
            <h2><a class="grey" href="{{ path('show_estate', { 'slug': estate.slug }) }}">{{ estate.title }}</a></h2>

            <div class="row">
                <div class="col col-sm-8">
                    <img src="{{ asset("#{estate.files[0].path}") }}" class="img-responsive">
                </div>
                <div class="col col-sm-4">
                    {#<img src="{{ asset("#{estate.files[2].path}") }}" class="img-responsive">
                    <h4>Aside</h4>
                    <hr>#}
                    <img src="{{ asset("#{estate.files[3].path}") }}" class="img-responsive">
                    <h4>Aside 2</h4>
                    <hr>
                    <ul>
                        <li>{{ googlePlusButton() }}</li>
                        <li>{{ twitterButton() }}</li>
                        <li>{{ facebookButton() }}</li>
                    </ul>
                    <hr>
                </div>
            </div>

            <h2>Краткое описание</h2>
            {{ estate.description }}
            <br><br>
                <a href="{{ path('show_estate', { 'slug': estate.slug }) }}"
                   class="btn btn-default">
                    More
                </a>
            {#<button class="btn btn-default">More</button>#}


            <hr>
            {% endfor %}
        </div>
    {% endblock panel %}



