{% form_theme form 'foundation_5_layout.html.twig' %}
{{ form_start(form) }}
<table>
    <tr><td>{{ form(form.category) }}</td><td>{{ form(form.except_floor) }}</td>
        <td>{{ form(form.district) }}</td><td>{{ form(form.price) }}</td></tr>


</table>
{#{{ form_widget(form)}}#}
{{ form_end(form)}}
