{% extends 'AppBundle:site:base_site.html.twig' %}
{% block panel %}
    <h1>{{ estate.title }}</h1>
    {% include 'AppBundle:includes:deep-minified.html.twig' %}
    <br>
    <div class="col-lg-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="glyphicon glyphicon-stats"></i> Описание
            </div>
            <div class="panel-body">
                {{ estate.description }}
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="glyphicon glyphicon-stats"></i> Цена
            </div>
            <div class="panel-body">
                {{ estate.price }}&#032грн.
            </div>
        </div>
        {% if estate.floor %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="glyphicon glyphicon-stats"></i> Этаж/Этажность
            </div>
            <div class="panel-body">
                {{ estate.floor['floor'] }} / {{ estate.floor['count_floor'] }}
            </div>
        </div>
        {% endif %}
    </div>
{% endblock panel %}