{% extends 'base.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-sm-5">
            <div class="well">
                {{ form_start(form) }}
                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
                {{ form_row(form.plainPassword.first) }}
                {{ form_row(form.plainPassword.second) }}
                <button type="submit">Register!</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
{% endblock %}