{% extends 'AppBundle:admin:base_admin.html.twig' %}

{% block body %}
    <div class="wrapper">
        <div id="page-wrapper">
            <h1>Добавление нового объекта</h1>
            {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
            {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
            {{ form_row(form.imageFile) }}
            {{ form_row(form.district) }}
            {{ form_row(form.category) }}
            {{ form_row(form.rent) }}
            {{ form_row(form.exclusive) }}
            {{ form_row(form.floor) }}
            {{ form_row(form.price) }}
            <input type="submit" value="Создать новый объект" class="btn btn-default"/>

            {{ form_widget(form.saveAndCreateNew, { label: 'Сохранить и создать еще объэкт'|trans, attr: { class: 'btn btn-default' } }) }}
            <br><br>
            <a href="{{ path('admin_index') }}" class="btn btn-default">
                Назад к списку
            </a>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

